.follower-grid {
    column-count: 3;
    column-gap: 10px;
    column-width: 8px;
}

.gridthings img {
    break-inside: avoid-column;
    width: 100%;
    margin: 10px;
}
.user-avatar{
border-radius: 50em;
}

.user-icon{
    position: relative;
    right:38px

}

.user-icon a {

    color: #ffffff;


}

/*Follower Names*/

.follower1 { 
    position: relative; 
    width: 100%; 
 }
 
 .followerName1 { 
    position: absolute; 
    top: 178px; 
    left: 26px; 
    width: 100%; 
    color:#ffffff;
    text-shadow: 1px 1px 2px black; 
 }

p.follower-album{
    position: absolute; 
    top: 205px; 
    left: 26px; 
    width: 100%; 
    color:#ffffff;
    text-shadow: 1px 1px 2px black; 

}