.follower-grid {
    /* column-count: 3; */
    column-count: 2;
    column-gap: 10px;
    column-width: 8px;
}

.gridthings img {
    break-inside: avoid-column;
    width: 100%;
    margin: 10px;
}

.user-avatar {
    border-radius: 50em;
}

.user-icon {
    position: relative;
    right: 38px
}

.user-icon a {
    color: #ffffff;
}


/*Follower User Names & Album Titles*/

.follower1 {
    position: relative;
    width: 100%;
}

.followerName1 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album1 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower2 {
    position: relative;
    width: 100%;
}

.followerName2 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album2 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    font-size:20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

.follower3 {
    position: relative;
    width: 100%;
}

.followerName3 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album3 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower4 {
    position: relative;
    width: 100%;
}

.followerName4 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album4 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower5 {
    position: relative;
    width: 100%;
}

.followerName5 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album5 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower6 {
    position: relative;
    width: 100%;
}

.followerName6 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album6 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower7 {
    position: relative;
    width: 100%;
}

.followerName7 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album7 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower8 {
    position: relative;
    width: 100%;
}

.followerName8 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album8 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}

.follower9 {
    position: relative;
    width: 100%;
}

.followerName9 {
    position: absolute;
    top: 178px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

p.follower-album9 {
    position: absolute;
    top: 205px;
    left: 26px;
    width: 100%;
    color: #ffffff;
    font-size:20px;
    text-shadow: 1px 1px 2px black;
}


/*End Follower User Names & Album Titles*/


/*Image Slider*/

.d-md-block h1 {
    text-shadow: 1px 1px 2px black;
}

.d-md-block p {
    text-shadow: 1px 1px 2px black;
}


/*End Image Slider*/