h5.modal-title {
    display: flex;
    flex-wrap: wrap;
    color: #7c78a3;
    text-align: center;
    font-size: 26px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .col-xl-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;
}