<!DOCTYPE html>
<html lang="en">

<head>
    <!--Bootstrap-->
<!--Bootstrap-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!--Latest stable release of jQuery Core Library-->
<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script> 

<!--Bootstrap JS-->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
</head>

<body>
        <ul class="list-inline">
                <li data-toggle="modal" data-target="#timelineModal"><a href="#beachWaves" data-slide-to="0"><img class="img-thumbnail" src="http://lorempixel.com/200/133/nature/1"><br>
              Caption</a></li>
              </ul>

              



              <!--begin modal window-->
<div class="modal fade" id="timelineModal">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <div class="pull-left">Beach Life</div>
        <button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body">
        
       <!--begin carousel-->
<div id="beachWaves" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
        <div class="item active"> <img src="http://lorempixel.com/600/400/nature/1" alt="item0">
        <div class="carousel-caption">
        <h3>Heading 3</h3>
        <p>Slide 0  description.</p>
        </div>
        </div>
        <div class="item"> <img src="http://lorempixel.com/600/400/nature/2" alt="item1">
        <div class="carousel-caption">
        <h3>Heading 3</h3>
        <p>Slide 1 description.</p>
        </div>
        </div>
        <div class="item"> <img src="http://lorempixel.com/600/400/nature/3" alt="item2">
        <div class="carousel-caption">
        <h3>Heading 3</h3>
        <p>Slide 2  description.</p>
        </div>
        </div>
        <div class="item"> <img src="http://lorempixel.com/600/400/nature/4" alt="item3">
        <div class="carousel-caption">
        <h3>Heading 3</h3>
        <p>Slide 3 description.</p>
        </div>
        </div>
        <div class="item"> <img src="http://lorempixel.com/600/400/nature/5" alt="item4">
        <div class="carousel-caption">
        <h3>Heading 3</h3>
        <p>Slide 4 description.</p>
        </div>
        </div>
        <div class="item"> <img src="http://lorempixel.com/600/400/nature/6" alt="item5">
        <div class="carousel-caption">
        <h3>Heading 3</h3>
        <p>Slide 5 description.</p>
        </div>
        </div>
        <!--end carousel-inner--></div>
        <!--Begin Previous and Next buttons-->
        <a class="left carousel-control" href="#beachWaves" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#beachWaves" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
        <!--end carousel--></div>
        
        <!--end modal-body--></div>
        <div class="modal-footer">
        <div class="pull-left">
        <small>Follow <a href="http://lorempixel.com" target="new">Joe Doe</a></small>
        </div>
        <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
        <!--end modal-footer--></div>
        <!--end modal-content--></div>
        <!--end modal-dialoge--></div>
        <!--end myModal-->></div>

</body>

</html>